<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>CPU使用监控</title> 
</head>
<body>
<h1 id=title_cpu_info style="background-color:#FF8C00;text-align:center"> {{dev_id|safe}} 设备CPU使用率</h1>
<hr>
<div id=door style="width:300px;float:left">
<div id=door_title style="background-color:#FF8C00;width:300px">
<h1 style="margin-bottom:0;font-size:20px;text-align:center">Door CPU 使用率</h1></div>
<canvas id="door_darw" width="300" height="150" style="border:1px solid #d3d3d3;">
</canvas>
</div>
<div id=weigh style="width:300px;float:left">
<div id =weigh_title style="background-color:#FF8C00">
<h1 style="margin-bottom:0;font-size:20px;text-align:center">weigh CPU 使用率</h1></div>
<canvas id="weigh_darw" width="300" height="150" style="border:1px solid #d3d3d3;">
</canvas>
</div>
<div id=weighcv_cm style="width:300px;float:left">
<div id =weighcv_cm_title style="background-color:#FF8C00">
<h1 style="margin-bottom:0;font-size:20px;text-align:center">weighcv_cm CPU 使用率</h1></div>
<canvas id="weighcv_cm_darw" width="300" height="150" style="border:1px solid #d3d3d3;">
</canvas>
</div>
<div id=weighcv_as style="width:300px;float:left">
<div id =weighcv_as_title style="background-color:#FF8C00">
<h1 style="margin-bottom:0;font-size:20px;text-align:center">weighcv_as CPU 使用率</h1></div>
<canvas id="weighcv_as_darw" width="300" height="150" style="border:1px solid #d3d3d3;">
</canvas>
</div>
<div id=iotkit style="width:300px;float:left">
<div id =iotkit_title style="background-color:#FF8C00">
<h1 style="margin-bottom:0;font-size:20px;text-align:center">iotkit CPU 使用率</h1></div>
<canvas id="iotkit_darw" width="300" height="150" style="border:1px solid #d3d3d3;">
</canvas>
</div>
<div id=apps style="width:300px;float:left">
<div id =apps_title style="background-color:#FF8C00">
<h1 style="margin-bottom:0;font-size:20px;text-align:center">apps CPU 使用率</h1></div>
<canvas id="apps_darw" width="300" height="150" style="border:1px solid #d3d3d3;">
</canvas>
</div>
<div id=alarm style="width:300px;float:left">
<div id =alarm_title style="background-color:#FF8C00">
<h1 style="margin-bottom:0;font-size:20px;text-align:center">alarm CPU 使用率</h1></div>
<canvas id="alarm_darw" width="300" height="150" style="border:1px solid #d3d3d3;">
</canvas>
</div>
<div id=monitor style="width:300px;float:left">
<div id =monitor_title style="background-color:#FF8C00">
<h1 style="margin-bottom:0;font-size:20px;text-align:center">monitor CPU 使用率</h1></div>
<canvas id="monitor_darw" width="300" height="150" style="border:1px solid #d3d3d3;">
</canvas>
</div>
<div id=tts style="width:300px;float:left">
<div id =tts_title style="background-color:#FF8C00">
<h1 style="margin-bottom:0;font-size:20px;text-align:center">tts CPU 使用率</h1></div>
<canvas id="tts_darw" width="300" height="150" style="border:1px solid #d3d3d3;">
</canvas>
</div>

<script>
var door_list={{ door_list|safe }};
var weigh_list={{ weigh_list|safe }};
var weighcv_cm_list={{ weighcv_cm_list|safe }};
var weighcv_as_list={{ weighcv_as_list|safe }};
var iotkit_list={{ iotkit_list|safe }};
var apps_list={{ apps_list|safe }};
var alarm_list={{ alarm_list|safe }};
var monitor_list={{ monitor_list|safe }};
var tts_list={{ tts_list|safe }};
var x_date=new Array()
for(var i=0;i<door_list.length;i++){
    x_date[i]=i;
}
var darw_value_list= [door_list,weigh_list,weighcv_cm_list,weighcv_as_list,iotkit_list,apps_list,alarm_list,monitor_list,tts_list];
var darw_name_list=["door_darw","weigh_darw","weighcv_cm_darw","weighcv_as_darw","iotkit_darw","apps_darw","alarm_darw","monitor_darw","tts_darw"];
var sub_darw_value_list= new Array();
for (var i=0;i<= darw_value_list.length;i++)
{
sub_darw_value_list=darw_value_list[i];
x_len=sub_darw_value_list.length;
var x_step=300/(x_len-1);
var c=document.getElementById(darw_name_list[i]);
var ctx=c.getContext("2d");
ctx.fillStyle= "#CD5C5C";
ctx.fillRect(0,0,300,150);
ctx.translate(0,150)
ctx.moveTo(0,-(darw_value_list[i][0]*1.5));
cpu_darw();
ctx.stroke();
function cpu_darw()
{
for (var j=1; j<= x_len;j++)
{
ctx.lineTo(x_step*j,-darw_value_list[i][j]*1.5);
}
}

}

</script>


</body>
</html>