<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>主页</title> 
        <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="/static/select2-develop/dist/js/select2.min.js"></script>
        <script src="/static/select2-develop/dist/js/i18n/zh-CN.js"></script>
    <link href="/static/select2-develop/dist/css/select2.min.css" rel="stylesheet" />
    <script src="/static/js/echarts.js"></script>
</head>

<body>

<style>
 body{
     width: 100%;
     height: 100%;
 }
    ul.nav-pills{
        margin: auto;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);

    }
    .col-lg-12
        h1{color:#FE6E4C; font-weight: bold; padding: 5px;text-align: center}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    height: 90%;
}


</style>

<div class="container-fiuled">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
    <h1 style="background: #3E87E3">uSTAR自动化脚本管理</h1>
            </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
<ul class="nav nav-pills nav-justified">
    <li class="active"><a id="title_query" href="#" onclick="query_list()">查询</a>
        <ul  id="sub_title_query" style="display: none">
		<li ><a href="#" id="get_db" onclick="display_page(1)">CPU内存使用率查询</a></li>
            <li ><a href="#" id="get_case_log" onclick="display_page(2)">Case log查询</a></li>
            <li ><a href="#" id="get_suite_log" onclick="display_page(3)">Job log查询</a></li>
    </ul>
    </li>
	</ul>

<ul class="nav nav-pills nav-justified" >
    <li class="active"><a id="title_job_run" href="#" onclick="job_list()">测试脚本</a>
        <ul id="sub_title_job_run" style="display: none">
            <li><a href="#" id="slect_test" onclick="display_page(4)">脚本提交</a> </li>
		</ul>
    </li>
</ul>


<ul class="nav nav-pills nav-justified" >
    <li class="active"><a id="operation_tools" href="#" onclick="operation_tools()">测试工具</a>
        <ul id="sub_operation_tools" style="display: none">
            <li><a href="#" id="dev_operator" onclick="display_page(5)">设备操作</a> </li>
            <li><a href="#" id="order_analyze" onclick="display_page(6)">图像柜日志分析</a> </li>
		</ul>
    </li>
</ul>

            </div>
<div class="col-lg-10 col-md-10 col-sm-10" id="display_content">


</div>
</div>
    </div>


<script>
    function display_page(display_id) {
        if (display_id==1){
            $("#display_content").load("get_db/");
        }
        else if(display_id==2){
             $("#display_content").load("query_case_log");
        }
        else if(display_id==3){
             $("#display_content").load("query_suite_log");
        }
        else if(display_id==4){
             $("#display_content").load("select_test");
        }
        else if(display_id==5){
             $("#display_content").load("dev_operator");
        }
        else if(display_id==6){
             $("#display_content").load("order_analyze");
        }

    }

function query_list(){
if (document.getElementById('sub_title_query').style.display=='none'){
document.getElementById('sub_title_query').style.display='block';
}else if (document.getElementById('sub_title_query').style.display=='block'){
document.getElementById('sub_title_query').style.display='none';
}
}
function job_list(){
if (document.getElementById('sub_title_job_run').style.display=='none'){
document.getElementById('sub_title_job_run').style.display='block';
}else if (document.getElementById('sub_title_job_run').style.display=='block'){
document.getElementById('sub_title_job_run').style.display='none';
}
}
function operation_tools(){
if (document.getElementById('sub_operation_tools').style.display=='none'){
document.getElementById('sub_operation_tools').style.display='block';
}else if (document.getElementById('sub_operation_tools').style.display=='block'){
document.getElementById('sub_operation_tools').style.display='none';
}
}
</script>
</body>
</html>